.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
  width: 100%;
  background-color: white !important;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgb(60, 90, 145);
}
.home-logo {
  margin: 0 auto;
}

.home-icon {
  font-size: 60px;
  color: #16213e;
}
.login h2 {
  text-align: center;
  margin-left: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
  font-size: 24px;
  font-weight: bold;
}

.input-container {
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
/* Style the form icons */
.icon {
  padding: 10px;
  background-color: #16213e;
  color: white;
  min-width: 50px;
  text-align: center;
}
.input-field {
  border-radius: 0 !important;
}
.input-field:focus {
  border: 2px solid #16213e !important;
}

/* Set a style for the submit button */
.login-btn {
  background-color: #16213e;
  color: white;
  text-transform: uppercase;
  margin-left: 16px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 25px !important;
  cursor: pointer;
  width: 90%;
  opacity: 0.9;
}

.login-btn:hover {
  opacity: 1;
  background-color: #071846;
}
.login-btn:focus {
  border: none;
  outline: none !important;
}

.login-link {
  color: red;
  font-family: sans-serif;
  font-weight: bold;
}
.redirect {
  color: #16213e;
  font-family: sans-serif;
  font-weight: bold;
}
.rules {
  color: #16213e;
  font-family: sans-serif;
  font-weight: bold;
}
.error_message {
  margin-bottom: 20px;
  padding: 14px;
  background: #fe8b8e;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

@media screen and (max-width: 768px) {
  .login {
    position: fixed;
    height: 500px;
    width: 300px;
    box-shadow: none;
  }
  .home-icon {
    font-size: 40px;
    padding: 4px;
  }

  .login h2 {
    text-align: center;
    margin-left: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #332902;
    font-size: 20px;
    font-weight: bold;
  }

  .login-btn {
    padding: 4px 8px;
  }
  .text-muted {
    margin-top: 2px !important;
  }
}
